ul.am-status-progressbar,
ul.am-status-progressbar ul,
ul.am-status-progressbar li {
  margin: 0px;
  padding: 0px;
  text-align: center;
}

ul.am-status-progressbar ul,
ul.am-status-progressbar > li {
  display: inline-block;
}

ul.am-status-progressbar li {
  list-style: none;
}

ul.am-status-progressbar ul {
  text-decoration: none;
}

/* Styles */

ul.am-status-progressbar li.progress,
ul.am-status-progressbar li.bar {
  width: 120px;
  text-align: center;
}

ul.am-status-progressbar li.status {
  font-size: 14px;
  color: #aaa;
}

ul.am-status-progressbar li.circle {
  width: 25px;
  height: 25px;
  margin: 5px auto;
  background: #eee;
  border: solid 2px #eee;
  border-radius: 25px;
}

ul.am-status-progressbar li.cross {
  font-size: 31px;
  line-height: 31px;
  margin: 0 0 4px 0;
}

ul.am-status-progressbar li.date {
  font-size: 12px;
  color: #aaa;
}

ul.am-status-progressbar li.bar {
  margin-left: -45px;
  margin-right: -45px;
}

ul.am-status-progressbar li.rectangle{
  width: 120px;
  height: 5px;
  margin: 16px auto;
  background: #eee;
  border: solid 1px #eee;
  border-radius: 9px;
}

ul.am-status-progressbar li.active li.circle{
  background: #0E90D2;
}

ul.am-status-progressbar li.active li.rectangle {
  background: #3BB4F2;
}


ul.am-status-progressbar li.active li.cross { color: #0E90D2; }
