@import "../variables.scss";

ul.status-progressbar {
  &, ul, li {
    margin: 0px;
    padding: 0px;
    text-align: center;
  }

  ul, >li {
    display: inline-block;
  }

  li {
    list-style: none;
  }

  li.progress,
  li.bar
  {
      font-size: $font-size-xs;
      width: 10em;
      text-align: center;
      color: $gray-light;
  }

  li.status {
    font-size: $font-size-sm;
  }

  li.circle {
    width: 25px;
    height: 25px;
    margin: 5px auto;

    border: solid 1px $global-border;
    border-radius: 25px;
    background: $global-border;
  }

  li.cross {
    font-size: 32px;
    line-height: 32px;
  }

  li.bar {
    margin-left: -45px;
    margin-right: -45px;
  }

  li.rectangle{
    width: 120px;
    height: 5px;
    margin: 16px auto;

    border: solid 1px $global-border;
    border-radius: 9px;
    background: $global-border;
  }

  li.active {
    li.circle,
    li.rectangle {
      background: $global-secondary;
    }

    li.cross {
      color: $global-secondary;
    }
  }
}
